

.main_home_image {
    position: relative;
    text-align: center;
}
.main_home_image img {
    width: 100%;
}
.centered {
    background-color: white;
    opacity: 0.85;  
    padding: 100px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.centered span {
    font-family: "Playfair Display";
    font-size: 50px;
    font-style: italic;
    letter-spacing: 4px;
}



/* About our range */
.textSection {
    background-color: white;
      height: 300px;
    padding-top:5%;
}
.textSection p {
    font-family: "Playfair Display";    
    font-size: 30px;
    font-style: oblique;
    letter-spacing: 2px;
    text-align: center;
    margin:0;
    padding-top: 0px;    
}






.carouselContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.carousel {
    display: none;
}
.carousel img {
    width: 100%;
}
.dotContainer {
    text-align: center;
    background-color: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 17px 2px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}